.app {
  color: #212529;
  height: 100vh;
  padding: 40px 60px;
  background-color: #E1E8ED;
}

.app-header {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-body {
  display: flex;
  flex-direction: row;

  height: calc(100vh - 175px);

  overflow: auto hidden;

  background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* personalização da scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #b1b1b1;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .app {
    padding: 40px 30px;
  }

  .app-body {
    background-size: contain;
  }
}
