.app {
  background-color: #E1E8ED;
  color: #212529;
  height: 100vh;
  padding: 40px 60px;
}

.app-header {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-body {
  display: flex;
  flex-direction: row;

  height: calc(100vh - 175px);

  overflow: auto hidden;
}

  /* personalização da scrollbar */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #b1b1b1;
    border-radius: 10px;
  }
