.modal-call-button {
  cursor: pointer;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #8a8a8a;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  float: right;

  border-radius: 5px;
}

.modal-close:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-icon {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  color: #212529;

  margin: 8px;
}

.modal-header {
  display: flex;
  align-items: center;
}

.divider {
  margin-bottom: 20px;
}

.modal-button {
  margin-top: 20px;
  display: flex;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
}

button:hover {
  filter: brightness(0.8);
}
